<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div class="card ms-3 me-3">

    <div class=" card-body">
        <h1 class="text-center">Your Contacts</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="c : ${contacts}">
                <th scope="row" th:text="${'SCM'+c.cId}"></th>
                <td th:text="${c.name+' '+c.secondName}"></td>
                <td th:text="${c.phone}"></td>
                <td th:text="${c.email}"></td>
                <td>
                    <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

    </div>


</section>

</body>
</html>