<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>


    <!--  create form for these fields
     private String name;
        private String secondName;
        private String work;
        private String email;

        private String phone;
        private String image;

        private String description;-->
    <div class="card m-3">
        <div class="card-body">
            <h1 class="text-center">Update Your Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form action="#"
                              th:object="${contact}"
                              enctype="multipart/form-data"
                              method="post"
                              th:action="@{/user/process-update}"
                              class="mt-2"
                        >

                            <!--                            First name-->
                            <div class="input-group ">
                                <div class="input-group-text  ">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <input th:value="${contact.name}" type="text" id="firstName" name="name" placeholder="First name" class="form-control"/>
                            </div>
                            <!--                            Second name-->
                            <div class="input-group mt-3">
                                <div class="input-group-text ">
                                    <i class="fas fa-user-alt"></i>
                                </div>
                                <input th:value="${contact.secondName}" type="text" id="secondName" name="secondName" placeholder="Last name" class="form-control"/>
                            </div>

                            <!--                            Work-->
                            <div class="input-group mt-3">
                                <div class="input-group-text ">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input th:value="${contact.phone}" type="number" id="phone" name="phone" placeholder="Phone no." class="form-control"/>
                            </div>
                            <!--                            email-->
                            <div class="input-group mt-3">
                                <div class="input-group-text ">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input th:value="${contact.email}" type="email" id="email" name="email" placeholder="Email" class="form-control"/>
                            </div>
                            <!--                            work-->
                            <div class="input-group mt-3">
                                <div class="input-group-text ">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <input th:value="${contact.work}" type="text" id="work" name="work" placeholder="Work" class="form-control"/>
                            </div>
                            <!--                            About-->
                            <div class="input-group mt-3">
                                <div class="input-group-text ">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <textarea th:text="${contact.description}" type="text" id="description" name="description" placeholder="About"
                                          class="form-control "  ></textarea>
                            </div>
                            <!--                            image-->
                            <div class="  input-group mt-3">


                                <span>

                                <img style="width: 80px; height: 80px" class="profile_picture"  th:src="@{'/images/'+${contact.image}}" alt=" ">
                                </span>

                                <span class="m-auto ms-4  "  style="width: 80%;"  >

                                <input type="file"  id="contact_image" name="contact_image"   class="form-control"/>
                                </span>
                            </div>

<!--                            Hidden Field-->
                           <input type="hidden" id="cId" name="cId" th:value="${contact.cId}"/>

                            <div class="mt-3 container text-center">
                                <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
                            </div>






                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--   <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
       <script>
           tinymce.init({
               selector: '#description'
           });
       </script>-->
    <script>
        $(document).ready(()=>{
            $(`.item`).removeClass('active')
            $(`#show-contact-link`).addClass('active')
        })
    </script>
</section>
</body>
</html>