<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">

					<img style=" width: 200px; height: 200px;"  class="profile_picture"  th:src="@{'/images/'+contact.png}" alt="Profile picture">
					</div>

					<h1 class="text-center text-secondary mt-3">Start Adding your contact on cloud..</h1>

					<div class="text-center container d-grid gap-2">

					<a href="" class=" btn btn-outline-primary btn-block text-uppercase m-3" type="button" th:href="@{/user/add-contact}">
						Add new contact
					</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>