<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Register</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 ">
					<div class="my-card mt-2">


						<!--      message-->
						<div th:if="${session.message}" class="container p-2">

							<div class="alert  text-center" th:classappend="${session.message.type}" role="alert" >
								<span th:text="${session.message.content}"></span>
							</div>
						</div>

						<!--    OLd method-->
						<!--    <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->

						<!--    New Method to remove session-->
						<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>

						<!--<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
					<p th:text="${session.message.content}"></p>
					&lt;!&ndash; <th:block th:text="${#session.removeAttribute('message')}"></th:block> &ndash;&gt;
					</div>
						<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
					&lt;!&ndash; <div th:if="${message != null}" th:classappend="${message.type}" class="alert" role="alert">
                            <p th:text="${message.content}"></p>
                        </div> &ndash;&gt;
					-->
					
					
					<div class="text-center">
					<img   style="width: 80px;" th:src="@{/images/registered.png}">
					</div>
						<h1 class="text-center">Register Here</h1>
						<form novalidate="novalidate" th:action="@{/do_register}" method="post" th:object="${user}">

							<!-- name field -->
							<div class="mb-3">
							
								<label for="name_field" class="form-label">Your Name</label>
								<input 
								type="text" 
								class="form-control"
								id="name_field" 
								name="name"
								th:value="${user.name}"
								aria-describedby="emailHelp"
								placeholder="Enter here"
								th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
								>
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
							 class="invalid-feedback"></div>
								
							</div>

							<!-- email field -->
							<div class="mb-3">
							
								<label for="email_field" class="form-label">Your Email</label>
								<input 
								type="email" 
								
								
								class="form-control"
								id="email_field" 
								name="email"
								th:value="${user.email}"
								aria-describedby="emailHelp"
								required="required"
								placeholder="Enter here"
								th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
								>
								<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
							 class="invalid-feedback"></div>
								
								
							
							</div>

							<!-- password field -->
							<div class="mb-3">
							
								<label for="password_field" class="form-label">Password</label>
								<input 
								type="password" 
								class="form-control"
								id="password_field" 
								name="password"
								aria-describedby="emailHelp"
								required="required"
								placeholder="Enter here"
								th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
								>
								<div th:each="e : ${#fields.errors('password')}" th:text="${e}"
							 class="invalid-feedback"></div>
								
								
							</div>

							<!-- about field -->
							<div class=" form-group mb-3">
								<label for="about_field" class="form-label">About</label>
								<textarea name="about" id="about_field" th:text="${user.about}" placeholder="Enter about you..."  class="form-control" rows="6"></textarea>
								
							</div>
							
							<!-- terms and conditions agreement  -->
							<div class="form-group form-check">
							
							<input type="checkbox" 
							name="agreement"
							class="form-check-input"
							id="agreement"
							/>
							
							<label for="agreement">Accept terms and conditions</label>
							</div>
							
							<div class="containor text-center ">
							<button type="submit" class="btn bg-primary text-white">
							Submit
							</button>

							<button type="reset" class="btn btn-warning text-white">
							Reset
							</button>
							</div>
							



						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>